<p><%= @payee.name %></p>

<p><a href="<%= @payee.website %>"><%= @payee.website %></a></p>

<form action="/payees/<%= @payee.id %>" method="post">
<input type="hidden" name="_method" value="delete">

  <input class="delete_submit" type="submit" value="delete!">
  
</form>
<form action="/payees/<%= @payee.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>




<h3>Transactions for this payee</h3>
<% @payee.transactions.each do |transaction| %>
  £ <%= Helper.to_2dp( transaction.amount ) %>
    <% transaction.tags.each do |tag| %>
      <p style="display: inline-block; background-color: <%= tag.color %>"><%= tag.name %></p>
    <% end %>
    <br>
<% end %>

<h3>Total for this payee</h3>
<h2>£ <%= @payee.total  %>