<object class="favicon" data="<%= Helper.get_favicon( @payee.website ) %>">
    <img class="favicon" src="/favicon.ico" />

</object>
<p><%= @payee.name %></p>

<p><a href="<%= @payee.website %>"><%= @payee.website %></a></p>

<form action="/payees/<%= @payee.id %>" method="post">
<input type="hidden" name="_method" value="delete">

  <input class="delete_submit" type="submit" value="delete!">
  
</form>
<form action="/payees/<%= @payee.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>




<h3>Transactions for this payee</h3>

<table class="table_index">
    <% @payee.transactions.each do |transaction| %>
    <tr>
      <td><a href="/transactions/<%= transaction.id %>">£ <%= Helper.to_2dp( transaction.amount ) %></a></td>
    <% transaction.tags.each do |tag| %>
     <td style="display: inline-block; background-color: <%= tag.color %>"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
    <% end %>

  </tr>
  
  <% end %>
  
</table>

<h3>Total for this payee</h3>
<h2>£ <%= @payee.total  %></h2>


