<h1>edit tag</h1>
<form action="/tags/<%= @tag.id %>" method="post">
<input type="hidden" name="_method" value="put">

  <label for="name">name</label>
    <input type="text" name="name" id="name" value="<%= @tag.name %>">

  <label for="color">color</label>
    <input type="text" name="color" id="color" value="<%= @tag.color %>">

  <label for="description">description</label>
    <input type="text" name="description" id="description" value="<%= @tag.description %>">

  <label for="budget">budget</label>
    <input type="number" name="budget" id="budget" value="<%= @tag.budget %>">


  <input type="submit" value="update">

</form>