<h2>tag details</h2>

<h4 style="background-color: <%= @tag.color %>; width: 20%"><%= @tag.name %></h4>

<form action="/tags/<%= @tag.id %>" method="post">
<input type="hidden" name="_method" value="delete">

  <input class="delete_submit" type="submit" value="delete!">
  
</form>
<form action="/tags/<%= @tag.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>



<p><%= @tag.description %></p>
<p>£ <%= @tag.budget_2f_s %></p>
<h2>transactions with this tag</h2>
<% @tag.transactions.each do |transaction| %>
  <p><%= transaction.payee.name %> £ <%= transaction.amount_2f_s %></p>
<% end %>
<h2>Total spent = £ <%= @tag.spent %></h2>

