<h2>tag details</h2>

<div class ="tag_div_show" style="background-color: <%= @tag.color %>;">
    <%= @tag.name %>
</div>

<form action="/tags/<%= @tag.id %>" method="post">
<input type="hidden" name="_method" value="delete">

  <input class="delete_submit" type="submit" value="delete!">
  
</form>
<form action="/tags/<%= @tag.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>




<h2>transactions with this tag</h2>
<table class="table_index">
<% @tag.transactions.each do |transaction| %>
  <tr>
    <td>
      <a href="/payees/<%= transaction.payee.id %>">
      <object class="favicon" data="<%= Helper.get_favicon( transaction.payee.website ) %>">
          <img class="favicon" src="/favicon.ico" />
      </object>
      </a>
    </td>
    <td><a href="/payees/<%= transaction.payee.id %>"><%= transaction.payee.name %></a></td>
    <td><a href="/transactions/<%= transaction.id %>">£ <%= Helper.to_2dp( transaction.amount ) %></a></td>
    </tr>
<% end %>
</table>
<h2>Total spent = £ <%= @tag.spent %></h2>

