<form action="/transactions" method="post">

  <label for="payee">payee</label>
    <select name="payee_id" id="payee">
      <% @payees.each do |payee| %>
        <option value="<%= payee.id %>"><%= payee.name %></option>
      <% end %>
    </select>
   
  <label for="budget_id">budget</label>  
  <select name="budget_id" id="budget_id"">
    <% @budgets.each do |budget| %>
      <option value="<%= budget.id %>"><%= budget.name %></option>
    <% end %>
  </select>

  <label for="amount">amount</label>
    <input type="number" name="amount" id="amount">

  <br><br>
  <h4>tags</h4>

  <% @tags.each do |tag| %>

  <label form="<%= tag.name %>"><%= tag.name %></label>
    <input type="checkbox" name="tag_id_<%= tag.id %>" id="<%= tag.name %>">
    <br>
  <% end %>

  <input type="submit" value="add">
</form>