<%= @transaction.payee.name %> £<%= Helper.to_2dp( @transaction.amount ) %>


<form action="/transactions/<%= @transaction.id %>" method="post">
<input type="hidden" name="_method" value="delete">

  <input class="delete_submit" type="submit" value="delete!">
  
</form>

<% @transaction.tags.each do |tag| %>
  <p style="display: inline-block; background-color: <%= tag.color %>"><%= tag.name %></p>
<% end %>

<form action="/transactions/<%= @transaction.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>