
<table class="table_index">

  <tr>
    <td>
      <a href="/payees/<%= @transaction.payee.id %>">
      <object class="favicon" data="<%= Helper.get_favicon( @transaction.payee.website ) %>">
          <img class="favicon" src="/favicon.ico" />
      </object>
      </a>
    </td>
    <td><a href="/payees/<%= @transaction.payee.id %>"><%= @transaction.payee.name %></a></td>
    <td>£ <%= Helper.to_2dp( @transaction.amount ) %></a></td>
    <% @transaction.tags.each do |tag| %>
     <td style="display: inline-block; background-color: <%= tag.color %>"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
    <% end %>
    </tr>

</table>


<form action="/transactions/<%= @transaction.id %>" method="post">
<input type="hidden" name="_method" value="delete">

  <input class="delete_submit" type="submit" value="delete!">
  
</form>


<form action="/transactions/<%= @transaction.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>