<h3><%= @error %></h3>
<% @budgets.each do |budget| %>
  <a class ="tag_a" href="/budgets/<%= budget.id %>">
    <div class ="budget_div"">
    
      <div class="p_div">
        <p><%= budget.name %></p>
      
        <p>£ <%= Helper.to_2dp( budget.amount ) %> budget</p>
        <p style="<%= "color: red" if budget.spent.to_i > budget.amount %>">£ <%= budget.spent %> spent</p>
      </div>
      <div class="bar_div" style="<%= Helper.get_bar_css( budget.spent, budget.amount ) %>"> 

      <span class="percent_text"><%= ( (100 * Helper.percent(budget.spent, budget.amount)).to_i) %>%</span>

      </div>
    </div>
  </a>
<% end %>