<h2><%= @budget.name %> </h2>

<table class="table_index">
  <tr>
    <td>£ <%= Helper.to_2dp( @budget.amount ) %></td>
  </tr>
</table>

<form action="/budgets/<%= @budget.id %>" method="post">
<input type="hidden" name="_method" value="delete">

  <input class="delete_submit" type="submit" value="delete!">
  
</form>
<form action="/budgets/<%= @budget.id %>/edit" method="get">

  <input type="submit" value="edit">
  
</form>



<h2>transactions in this budget</h2>
<table class="table_index">
    <% @budget.transactions.each do |transaction| %>
    <tr>
      <td>
        <a href="/payees/<%= transaction.payee.id %>">
        <object class="favicon" data="<%= Helper.get_favicon( transaction.payee.website ) %>">
            <img class="favicon" src="/favicon.ico" />
        </object>
        </a>
      <td>
      <td><a href="/payees/<%= transaction.payee.id %>"><%= transaction.payee.name %></a></td>
      <td><a href="/transactions/<%= transaction.id %>">£ <%= Helper.to_2dp( transaction.amount ) %></a></td>
    <% transaction.tags.each do |tag| %>
     <td style="display: inline-block; background-color: <%= tag.color %>"><a href="/tags/<%= tag.id %>"><%= tag.name %></a></td>
    <% end %>

  </tr>
  
  <% end %>
  
</table>
<h2>Total spent = £ <%= @budget.spent %></h2>

